$primary: #133831;
$secondary: #54759e;
$success: #8d961f;
$info: #05203d;
$warning: #dc9c20;
$danger: #a5301e;
$light: #fcf6dc;
$dark: #0f0e0b;

$font-size-base: 0.8rem;

$modal-fade-transform: scale(0);

@import "bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: $light;
  font-family: "Noto Sans Mono", monospace;
}

.navbar-toggler {
  outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  box-shadow: none !important;
  outline: none !important;
}

.navbar-toggler::after {
  background-color: transparent !important;
}

.scale-hover {
  transition: transform 0.3s ease-in-out;
}

.scale-hover:hover {
  transform: scale(1.5);
}
